<form method="POST" action="/users/sign-in">
  <fieldset>
    <legend>Please sign in</legend><br />

    <div class="form-group">
      <label for="username">User Name</label>
      <input class="form-control" type="account_name" name="account_name" id="account_name">
    </div><br />

    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" type="password" name="password" id="password">
    </div><br />

    <div class="form-group">
      <input class="btn btn-primary" type="submit" value="Sign in">
    </div><br />
  </fieldset>
</form>
